@model Forum.Models.ClasseViewModel
@{
    if (ViewBag.ProfId != null)
    {
        <p style="color: green">@ViewBag.ProfId</p>

    }
    <form method="post">

        <label asp-for="Classe">Classe :</label>
        <input type="text" asp-for="Classe" />
        <span style="color: red">@Html.ValidationMessageFor(c => c.Classe)</span>

        <select asp-for="id_eleve" asp-items="Model.Eleves">
            <option value="">Sélectionnez des élèves</option>
        </select>

        @if (Model.Eleveschoisis != null)
        {
            @for (int i = 0; i < Model.Eleveschoisis.Count; i++)
            {
                <input type="hidden" name="Eleveschoisis[@i]" value="@Model.Eleveschoisis[i]" />
            }
        }

        <button type="submit" name="ajout_eleve" value="ajouter">Ajouter</button>

        <button type="submit" name="action" value="creer">Créer la classe</button>
    </form>
    <br />
    <br />


    @if (Model.Eleveschoisis != null)
    {
        foreach (var eleveId in Model.Eleveschoisis.Distinct()) //Distinct pour etre sur de ne pâs avoir de doublon
        {
            var eleve = Model.Eleves?.FirstOrDefault(e => e.Value == eleveId.ToString())?.Text;
            <li>
                @eleve
                <button type="submit" name="supprimerEleve" value="@eleveId">Supprimer cet élève</button>
            </li>
        }
    }

}