@model Forum.Models.ClasseViewModel
@{
    <form method="post">

        <label asp-for="Classe">Classe :</label>
        <input type="text" asp-for="Classe" />
        <span style="color: red">@Html.ValidationMessageFor(c => c.Classe)</span>

        <select asp-for="id_eleve" asp-items="Model.Eleves">
            <option value="">Sélectionnez des élèves</option>
        </select>

        <input type="hidden" asp-for="Eleveschoisis" value="@string.Join(",", Model.Eleveschoisis)" />
        <button type="submit" name="ajout_eleve" value="ajouter">Ajouter</button>

        <button type="submit" name="" value="">Crée une classe</button>
    </form>
    <br />
    <br />


    @foreach (var eleve in Model.Eleveschoisis)
    {
        <li>@eleve</li>
    }

}