@{
    if (ViewBag.SessionEleve_id != null)
    {
        <div class="eleve-info">
            <p><strong>@ViewBag.EleveNom</strong>
            <p><strong>@ViewBag.ElevePrenom</strong>
        </div>

        <form asp-controller="Authentification" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-danger">Déconnexion</button>
        </form>
    }
    else
    {
        <p>Aucun élève connecté.</p>
    }
}