@* @model Forum.Models.LoginViewModel *@
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    if (ViewBag.SessionEleve_Id != null)
    {
        <p style="color: orange">ID ELEVE : @ViewBag.SessionEleve_Id</p>
    }
}
