@{
    if (ViewBag.SessionProf_id != null)
    {
        <div class="prof-info">
            <strong>@ViewBag.ProfNom</strong>
            <strong>@ViewBag.ProfPrenom</strong>
        </div>

        <form asp-controller="Authentification" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-danger">Déconnexion</button>
        </form>
    }
    else
    {
        <p>Aucun professeur connecté.</p>
    }
}