@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>

<div class="firstdivhome">
    <h1 class="h1home">Acceuil</h1>

</div>

<div>
    <a asp-controller="Classe" asp-action="Creeclasse">Crée une classe</a>
</div>
