@*

*@
@{
    //fORMULAIRE DE CONNEXION
    <form method="post">

        <label for="mail">Email :</label><input type="email" id="mail" />
        <p style="color: red">@ViewBag.Erroremail</p>

        <label for="password">Mot de passe :</label><input type="password" id="password" />
        <p style="color: red">@ViewBag.Errorpassword</p>

        <button type="submit">Se connecter</button>

    </form>
}
