@model Forum.Models.Elève
@*

*@
@{
    @if (ViewBag.Messagesuccess != null)
    {
        <P style="color: green">@ViewBag.Messagesuccess</p>
    }

    //fORMULAIRE DE CONNEXION
    <form method="post">

        <label asp-for="Email">Email :</label>
        <input type="email" asp-for="Email"/>
        <span style="color: red">@Html.ValidationMessageFor(e => e.Email)</span>

        <label asp-for="Password">Mot de passe :</label>
        <input type="password" asp-for="Password" />
        <span style="color: red">@Html.ValidationMessageFor(e => e.Password)</span>

        <button type="submit">Se connecter</button>

    </form>
}