@model Forum.Models.UserSearchViewModel

@if (Model.Eleves.Any() || Model.Professeurs.Any())
{
    <ul>
        @foreach (var eleve in Model.Eleves)
        {
            <li>@eleve.Nom @eleve.Prenom</li>
            <button>Ajouter</button>
        }

        @foreach (var prof in Model.Professeurs)
        {
            <li>@prof.Nom @prof.Prenom</li>
            <button>Ajouter</button>
        }
    </ul>
}
 